body {
    background: #fff;
  }

  .panel {
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 3px 9px 0 rgba(62, 57, 107, 0.06);

}

.header .navbar-brand {
  width: 300px;
}

.top-menu {
  background: #2a72b5 !important;
}

.top-menu .nav>li>a {
  color: #fff;
}

.top-menu .nav>li.active>a, .top-menu .nav>li.active>a:focus, .top-menu .nav>li.active>a:hover {
  background: #134280;
}

.top-menu .nav > li.active > a i, .top-menu .nav > li.active > a:focus i, .top-menu .nav > li.active > a:hover i {
  color: #00acac;
}

.top-menu .nav .sub-menu {
  background: #2a72b5;
}

.top-menu .sub-menu>li>a {
  color: #fff;
}

.header .navbar-logo, .login .login-header .brand .logo, .header .navbar-nav > li > a .label, .label.label-theme, .btn.btn-scroll-to-top {
    background: #2e70ba;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-color: #e2e7eb;
    padding: 8px 10px;
}

.tab-content {
  padding: 0px;
}

.introjs-helperNumberLayer {
  background: #163759!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav-pills>li>a.active, .nav-pills>li>a.active:focus, .nav-pills>li>a.active:hover {
  background: #2e70ba;
}

.nav-pills .nav-link, .nav-pills>li>a {
  background: #f2f3f4;
}

.btn {
  font-weight: normal;
}

ol.breadcrumb{
  background: #d9e0e7;
  padding: 5px 0px;
  color: forestgreen;
  font-size: 14px;
  border-radius: 0;
}

.section-breadcrumb {
    background: #dae0e8;
    padding: 0 32px;
}

.panel-default>.panel-heading {
    background: #edf0f3;
}

legend {
  font-size: 1rem;
}

/**/

div#content {
  background: #fff;
}
.panel {
  border: 1px solid #dae0e8;
}


.switchery {
  height: 20px !important;
  width: 40px !important; 
}

.switchery>small {
  height: 20px !important;
  width: 20px !important;
}
